<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout
				pattern="cc-realsogi-svc + [%d{dd.MM.yyyy HH:mm:ss}] %p: %c{1}.%M() -%m%n"/>
			
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.bcbsfl" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console"/>
				
		</Root>
	</Loggers>
</Configuration>